* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding: 0;
}

html,
body {	
	height: 100%;
	min-width: 320px;
}

html {
	
}

body {
	font-size: 14px;
	font-family: 'Trebuchet MS', sans-serif;
	background-color: $background;
}

a {
	text-decoration: none;
}

input::-webkit-contacts-auto-fill-button {
	visibility: hidden;
	display: none !important;
	pointer-events: none;
	position: absolute;
	right: 0;
}

input::-ms-clear {
	display: none;
}

.container{
	width:100%;
	max-width:$container-xl;
	margin:0 auto;
	padding: 0 20px;
}

.d-flex{
	display: flex;
	&.wrap{
		flex-wrap: wrap;
	}
}