// @font-face {
// 	font-family:'PFRegalTextPro';
// 	src:url('../fonts/PFRegalTextPro/PFRegalTextPro-Medium_35467.eot'), /* IE9 Compat Modes */
// 	    url('../fonts/PFRegalTextPro/PFRegalTextPro-Medium_35467.woff') format('woff'), Modern Browsers
// 	    url('../fonts/PFRegalTextPro/PFRegalTextPro-Medium_35467.ttf')  format('truetype'); /* Safari, Android, iOS */
// 	font-weight: 400;
// 	font-style: normal;
// 	font-stretch: normal;
// 	unicode-range: U+0020-00FE;
// }

