/*Dimensions*/
/*-----------------------------------------------------------------------------*/
$head-d:            117px !default;
$head-m: 					  80px !default;
$foot-d: 					  117px !default;


/*Breakpoints*/
/*-----------------------------------------------------------------------------*/
$xs:						0px !default; 		// Extra small devices (portrait phones, less than 576px)
$sm:						576px !default; 	// Small devices (landscape phones, 576px and up)
$md:						768px !default; 	// Medium devices (tablets, 768px and up)
$lg:						992px !default; 	// Large devices (desktops, 992px and up)
$xl:						1200px !default; 	// Extra large devices (large desktops, 1200px and up)

$desktop:					$xl;

$container-sm: 	540px !default;
$container-md: 	720px !default;
$container-lg: 	960px !default;
$container-xl: 	1050px !default;


/*Colors*/
/*-----------------------------------------------------------------------------*/

$pink: #d3135a;
$pink-light: #ffc2dd;
$grey: #4d4d4d;
$grey-dark: darken($grey, 10%);
$grey-light: lighten($grey, 10%);
$grey-lighter: lighten($grey, 40%);
$background: #e6e6e6;
$blue: #0071bc;
$black: #000;
$white: #fff;

/*Durations*/
/*-----------------------------------------------------------------------------*/
$duration: 					150ms !default;


@mixin aspect-ratio2($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}

@mixin clearfix() {
	&::after {
	  display: block;
	  clear: both;
	  content: "";
	 }
}