.footer{
	width:100%;
	height:auto;
	background:$grey;
	padding-bottom:20px;
	
	@media(min-width:$lg){
		height:$foot-d;
	}

	&__nav{
		width:100%;
		padding:20px 0;
		text-align: center;
	
		@media(min-width:$lg){
			text-align: left;
		}
	
		li{
			display: inline-block;
			list-style-type:none;
			padding: 0 10px;
			position: relative;
	
			&:after{
				content: "|";
				position: absolute;
				right: -4px;
				top:0;
				color: $white;
				top: 50%;
				transform: translateY(-50%);
			}
	
			&:first-child{
				padding-left:0;
			}
	
			&:last-child{
	
				&:after{
					display: none;
				}
	
			}
	
			a{
				color:$white;
				text-decoration: none;
				font-size:12px;
			}
	
		}
	
	}

	article{
		height:40px;
		overflow: hidden;
		margin-bottom:15px;
		text-align: center;
		width:100%;
	
		@media(min-width:$lg){
			width:calc(100% - 140px);
			text-align: left;
			margin-bottom:0px;
			display: inline-block;
		}

		p{
			font-size: 12px;
			line-height:13px;
			color:$grey-lighter;

		}

	}
	
	a{
		display:block;
		text-align: center;
		text-transform: capitalize;
		font-size: 32px;
		color:$white;
		text-decoration: none;
	
		@media(min-width:$lg){
			float:right;
		}
	
	}

}