.form{
	padding:20px;
	border:1px solid $grey-dark;
	margin-bottom:20px;
	
	input, textarea{
		width:100%;
		border:1px solid $grey-dark;
		background:$white;
		padding:10px;
		margin-bottom:20px;
	}

	.error{
		border:1px solid red;
	}
	
	label{
		color:$black;
		margin-bottom:10px;
		display: inline-block;
	}
	
	textarea{
		height:130px;
		font-family: 'Trebuchet MS', sans-serif;
		resize: none; 
	}
	
	button{
		margin-bottom:20px;
	}

	.msg{
		display: block; 
		text-align: center; 
	}

}