.header{
	width:100%;
	height:$head-m;
	background-color:$pink;

	@media(min-width:$lg){
		height:$head-d;
		position: relative;
	}

	.container{
		display: flex;
	    align-items: flex-end;
	    height:$head-m;

	    @media(min-width:$lg){
	    	height:$head-d;
	    }

	}

	&__logo{
		display: inline-block;

	    @media(min-width:$lg){
		    padding-bottom:20px;
	    }

		a{
			color:$pink-light;
			text-decoration: none;
			text-transform: capitalize;
			font-size:45px;
			display: inline-block;
			padding-bottom:13px;
			
			@media(min-width:$lg){
				padding-bottom:0;
				font-size:60px;
			}

		}

	}

	@media(max-width:$lg - 1px){

		.header__nav-toggle {
			width: 45px;
			height: 40px;
			position: absolute;
			right: 20px;
			top: 20px;
			transform: rotate(0deg);
			transition: .5s ease-in-out;
			cursor: pointer;

			span{
				display: block;
				position: absolute;
				height: 5px;
				width: 100%;
				background: $pink-light;
				opacity: 1;
				left: 0;
				transform: rotate(0deg);
				transition: .25s ease-in-out;

				&:nth-child(1) {
					top: 0px;
				}

				&:nth-child(2) {
					top: 18px;
				}

				&:nth-child(3) {
					top: 36px;
				}

			}

			&.open{

				span{	

					&:nth-child(1) {
						top: 18px;
						transform: rotate(135deg);
					}

					&:nth-child(2) {
						opacity: 0;
						left: -60px;
					}

					&:nth-child(3) {
						top: 18px;
						transform: rotate(-135deg);
					}

				}

			}

		}

	}


	&__nav{
		display: none;
		width:100%;
		background:$pink;
		position: absolute;
		top:$head-m;
		left: 0;
		
		@media(max-width:$lg - 1px){

			&.open{
				display: block;
			}
			
		}

		@media(min-width:$lg){
			width:calc(100% - 235px);
			top:auto;
			background:none;
			position: relative;
			display: inline-block;
			text-align: right;
			padding-top:20px;
			height:$head-d;
			display:flex;
			flex-wrap:wrap;
			align-content:space-between;
		}

	}

	.nav__main{
		width:100%;
		padding:10px 10px 20px 10px;

		@media(min-width:$lg){
			padding:0;
		}

		>li{
			list-style-type:none;
			padding:0 10px;
			position: relative;
			margin-bottom:5px;

			>a{
				color:$white;
				text-transform: capitalize;
				text-decoration: none;
				font-size:20px;
				transition: color 200ms;
				display: block;
				padding-left: 10px;
			}
			
			@media(max-width:$lg - 1px){

				&:before {
				    content: "";
				    display: block;
				    position: absolute;
				    width: 5px;
				    height: 5px;
				    left: 5px;
				    top: 6px;
				    border: 2px solid transparent;
				    border-right-color: #fff;
				    border-top-color: #fff;
				    transition: all, 0.5s;
				    transform: rotate(45deg);
				}

				&.open{

					&:before{
						transform: rotate(135deg);
						border-right-color: $grey-dark;
						border-top-color: $grey-dark;
					}

					a{
						color:$grey_dark;
					}

					.nav__submenu{
						display: block;
					}

				}

			}

			@media(min-width:$lg){
				display: inline-block;
				padding-bottom:20px;
				margin-bottom: 0;

				a{
					padding-left:0;
				}

				&:hover{

					a{
						color:$grey-dark;
					}

					.nav__submenu{
						display: block;
					}

				}

				&:first-child{
					padding-left:0;
				}

				&:last-child{
					padding-right:0;
				}
				
			}

		}

		.nav__submenu{
			padding-left:15px;
			display: none;

			li{
				list-style-type:none;
			}

			a{
				display: block;
				color:$grey-dark;
				white-space: nowrap;
				padding: 7px;
			}

			@media(min-width:$lg){
				padding-left:0px;
				text-align: left;
				display: none;
				position: absolute;
				left:50%;
				transform:translateX(-50%);
				top:43px;
					
				&:before{
					content: "";
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid $grey;
					position: absolute;
					top:-10px;
					left:50%;
					transform:translateX(-50%);  
				}

				li{
					background-color:$grey;

					a{
						color:$white;

						&:hover{
							background-color:$grey-light;
						}

					}

				}

			}

		}

	}
	
	.nav__secondary{
		width:100%;
		padding:20px;
		background:$grey-light; 

		@media(min-width:$lg){
			background:none;
			padding:0;
		}

		li{
			position: relative;
			padding-bottom:10px;
			list-style-type:none;

			&:after{
				content: "";
				width:10px;
				height:1px;
				background:$grey-lighter;
				position: absolute;
				bottom:3px;
				left:0;
			}

			&:last-child{
				padding-bottom:0;

				&:after{
					display: none;
				}

			}

			a{
				color:$white;
				text-decoration: none;
				font-size:14px;
			}

			@media(min-width:$lg){
				display: inline-block;
				padding:7px;

				&:first-child{
					padding-left:0;
				}

				&:last-child{
					padding-right:0;
				}

				&:after{
					display: none;
				}

				a{
					color:$black;
				}

			}

		}

	}

}