.highlights{
	width:100%;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	margin-bottom:20px;

	&__item{
		background:$grey-lighter;
		padding:20px;
		border-bottom:1px solid $background;
		
		@media(min-width:$lg){
			border-bottom:none;
		}

	}

}

