.main{
	padding-top:40px;
	width:100%;
	justify-content: space-between;
	
	@media(min-width:$lg){
		width:70%;
	}

	&__item{
		background:$white;
		padding:20px;
		margin-bottom:20px;
	}

	&__sub{
		width:100%;
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
	}

	&__sub-item{
		@extend .main__item;
	}
	
}
