.wysiwyg{

	h2{
		font-size: 38px;
		line-height:42px;
		color:$black;
		margin-bottom:20px;
	}

	h3{
		font-size:24px;
		line-height: 27px;
		color:$black;
		margin-bottom:20px;
	}

	p{	
		font-size:14px;
		line-height:20px;
		color:$grey;
		margin-bottom: 20px;
	}

	ul{

		li{
			list-style-type:none;
			
			a{
				text-decoration: none;
				display: block;
				line-height:30px;
				color:$blue;
				border-bottom:1px solid $grey-lighter;
				text-transform: capitalize;
				
				&:nth-last-child{
					border:none;
				}

			}

		}

	}
	
	hr{
		margin-bottom: 15px;
		height: 3px;
		background: black;
		border: none;
	}
}