.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    padding-left: 25px;
    padding-right: 25px;
    vertical-align: middle;
    text-align: center;
    outline: none;
    color: #FFF;
    border: none;
    transition: background-color $duration;
}

.btn {
    &--pink {
        background-color: $pink;
        
    &:hover {
        background-image: none;
        background-color: rgba($pink, 0.85);
    }

  } 
  
}