.item-w--30{
	flex: 0 0 100%;
	max-width: 100%;
	
	@media(min-width:$lg){
		flex: 0 0 30%;
		max-width: 30%;
	}

}

.item-w--33{
	flex: 0 0 100%;
	max-width: 100%;
	
	@media(min-width:$lg){
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

}

.item-w--50{
	flex: 0 0 100%;
	max-width:100%;
	
	@media(min-width:$lg){
		flex: 0 0 calc(50% - 10px);
		max-width: calc(50% - 10px);
	}

}

.item-w--70{
	flex: 0 0 100%;
	max-width:100%;
	
	@media(min-width:$lg){
		flex: 0 0 70%;
		max-width:70%;
	}
	
}

.item-w--100{
	flex: 0 0 100%;
	max-width:100%;
}